html, body {
  height: 100%;
}

div.container {
  width: 940px;
}

#voximplant_container {
  width: 650px !important;
  height: 240px !important;
  margin: 20px auto;
}

#log {
  margin: 20px;
  text-align: left;
  font-size: 70%;
  font-family: Monospace;
}

#controls {
  width: 650px;
  margin: 0 auto;
}

#controls div.input-group {
  float: none;
  width: 320px;
  margin: 0 auto;
  margin-bottom: 5px;
}

#controls button {
  float: none;
  width: 320px;
}

#voximplantlocalvideo {
  float: left;
  width: 640px;
  height: 480px;
}

.vertical-center {
  height:100%;
  width:100%;

  text-align: center;  /* align the inline(-block) elements horizontally */
  font: 0/0 a;         /* remove the gap between inline(-block) elements */
}

.vertical-center:before {    /* create a full-height inline block pseudo=element */
  content: ' ';
  display: inline-block;
  vertical-align: middle;  /* vertical alignment of the inline element */
  height: 100%;
}

.vertical-center > .container {
  max-width: 100%;
  display: inline-block;
  vertical-align: middle;  /* vertical alignment of the inline element */
  font: 16px/1 "Helvetica Neue", Helvetica, Arial, sans-serif;        /* <-- reset the font property */
}

.small-loading {
  width: 30px;
}

.lefticonfoto{
  vertical-align: middle;
  float:left;
  height: 64px;
  width: 64px;
}

.lefticontextlogo{
  margin: 4px 10px 8px 0px;
  alignment-adjust: middle;
  background-color: #333;
}

/*переопределяем стили bootstrap*/
.jumbotron {
  padding: 20px;
  margin-bottom: 30px;
  color: inherit;
  background-color: #333;

}

.panel-info {
  border-color: #fff;
}

.btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
  font-family:Montserrat, sans-serif;
}